/* Showcase styling */
.showcase{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.section-heading{
    font-size: 45px;
}

/* Post container styling */
.basic-container-2{
    padding-top: 50px;
}

.basic-container-2 .title-txt{
    text-align: center;
}

.post-row{
    display: grid;
    margin: 50px auto;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-gap: 16px;
}

.blog-item{
    width: 100%;
    color: black;
}

.post-txt{
    padding-top: 10px;
}

/* Media query for 800px screen or less */
@media only screen and (max-width: 1000px){
    .post-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;
        justify-content: center;
    }
}

/* Media query for 650px screen or less */
@media only screen and (max-width: 650px){
    .post-row{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        justify-content: center;
    }
}