/* Browser reset css */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* :root preset styling settings */
:root{
    --primary-color: rgba();
    --shadow-black: 5px -2px 8px rgba(0, 0, 0, 0.75);
    --overlay-color: rgba(0, 0, 0, 0.85);
    --menu-speed: 0.75s;
}

/* Wrapper */
.wrapper{
    display: block;
    width: 80%;
    margin: 0 auto; 
    padding-bottom: 50px;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Button styling */
.btn{
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    padding: 20px;
    background-color: black;
    border: 1px solid white;
    color: white;
    margin: 0 auto;
}

.btn:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

/* Main image styling */
img{
    display: block;
    width: 100%;
    margin: 0 auto;
}

.img-insert{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* Main text styling */
h1{
    font-family: "Bebas Neue";
    text-align: center;
    color: white;
    font-size: 35px;
    text-shadow: var(--shadow-black);
}

.section-heading{
    font-family: "Bebas Neue";
    text-align: center;
    color: black;
    font-size: 35px;
    letter-spacing: 5px;
}

.main-txt{
    font-family: "Century Gothic";
    font-size: 18px;
    line-height: 35px;
}

.main-txt-white{
    font-family: "Century Gothic";
    font-size: 18px;
    line-height: 35px;
    color: white;
    text-shadow: var(--shadow-black);
}

.detail-txt{
    font-family: "Montserrat";
    font-size: 15px;
}

.title-txt{
    font-family: "Century Gothic";
    font-size: 25px;
    color: black;
}

/* Basic container styling */
.basic-container{
    display: block;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.basic-container-2{
    display: block;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

/* Header styling */
header{
    display: flex;
    width: 100%;
    height: 130px;
    /* background-color: var(--overlay-color); */
}

hr{
    display: block;
    border: 0;
    background-color: black;
    height: 1px;
    width: 90%;
    margin: 0 auto;
}

.header-icons{
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.header-icons a{
    color: black;
    padding: 15px;
}

.header-logo{
    display: flex;
    width: 200px;
    margin: 0 auto;
}

/* Logo styling */
header .logo-container{
    display: flex;
    height: 100%;
    justify-content: center;
}

.logo-container img{
    display: flex;
    height: 100%;
}

/* Navigation styling */
nav{
    display: flex;
    width: 300px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul a{
    font-family: "Montserrat";
    font-size: 18px;
    color: black;
    flex: auto;
    padding: 10px;
}

nav ul a:hover{
    color: grey
}

/* Footer content styling */
footer{
    display: block;
    width: 100%;
    height: 80px;
    background-color: white;
    margin-top: auto;
}

.copyright-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.copyright-info .info-text{
    color: black;
}

.menu-wrap{
    display:none;
}

@media only screen and (max-width: 800px){
    /* Hiding desktop header contents */
    .header-icons{
        display: none;
    }

    nav{
        display: none;
    }

    .menu-wrap{
        display: block;
    }

    .menu-wrap{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .menu-wrap .toggler{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    .menu-wrap .hamburger{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 30px;
        height: 30px;
        padding: 16px;
        /* background-color: var(--overlay-color); */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Hamburger line */
    .menu-wrap .hamburger > div{
        position: relative;
        width: 100%;
        height: 2px;
        background-color: black;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }

    /* Top and bottom lines */
    .menu-wrap .hamburger > div:before,
    .menu-wrap .hamburger > div:after{
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }

    /* Moves line down */
    .menu-wrap .hamburger > div:after{
        top: 10px;
    }

    /* Toggler animate */
    .menu-wrap .toggler:checked + .hamburger > div{
        transform: rotate(135deg);
        background-color: white;
    }

    /* Turn lines into X */
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after{
        top: 0;
        transform: rotate(90deg);
        background-color: white;
    }

    /* Rotate on hover when checked */
    .menu-wrap .toggler:checked:hover + .hamburger > div{
        transform: rotate(225deg);
    }

    /* Show menu */
    .menu-wrap .toggler:checked ~ .menu{
        visibility: visible;
    }

    .menu-wrap .toggler:checked ~ .menu > div{
        transform: scale(1);
        transition-duration: var(--menu-speed);

    }

    .menu-wrap .toggler:checked ~ .menu > div > div{
        opacity: 1;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .menu{
        position: fixed;
        top: o;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu > div{
        background: var(--overlay-color);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }

    .menu-wrap .menu > div > div{
        text-align: center;
        max-width: 90vw;
        max-height: 100vw;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .menu > div > div > ul > li{
        list-style: none;
        color: white;
        font-size: 25px;
        padding: 16px;
    }

    .menu-wrap .menu > div > div > ul > li > a{
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
}